{
  "extends": [
    "plugin:prettier/recommended"
  ],
  "arrowParens": "avoid",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "printWidth": 160,
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": true,
  "importOrder": [
    "^(?:node:)|(?:(?:@)?solid)|(?:vite)",
    "^@",
    "^[a-zA-Z]",
    "^(~)|(/)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}